@charset "utf-8";
.gmap {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}
.gmap1 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}
.im-1g {
    width: 686.67px;
    height: 380px;
}
.im-2g {
    width: 970px;
    height: 450px;
}
.im-3g {
    width: 1422.66px;
    height: 450px;
}
.img-4g {
    width: 1422.66px;
    height: 700px;
}
#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 80%;
}
#page-top a {
    background: #666;
    text-decoration: none;
    color: #fff;
    width: 100px;
    padding: 25px 0;
    text-align: center;
    display: block;
    border-radius: 10px;
}
#page-top a:hover {
    text-decoration: none;
    background: #999;
}
#lef {
    text-align: left;
}
.logte {
    width: 200px;
    height: 45px;
}
.im-4g {
    width: 200px;
    height: 200px;
}
.pd-1p {
    width: 50px;
    height: 50px;
}
.lis-de {
    width: 686.67px;
    height: 380px;
}
.lis-de1 {
    height: 190px;
}
.des-de {
    font-size: 400%;
}
.im-5g {
    height: 195.67px
}
.des-de1 {
    font-size: 600%;
}